body{background-color:#e2e2e2;font-family: 'Microsoft YaHei', 微软雅黑, Lucida, Verdana, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', 'Droid Sans Fallback', SimSun, sans-serif;}
h2{text-align:center;}
h3{text-align:center;}
.t1{
	font-size:20px;
	margin:0px;
	color:RGB(255,0,0);
}
.t2{
	font-size:18px;
	margin:0px;
	color:RGB(0,255,0);
}
.t3{
	font-size:16px;
	margin:5px 0px;
	color:RGB(0,0,255);
}
.c{
	font-size:20px;
	margin:10px 0px;
	color:RGB(255,0,255);
}
.s{
	font-size:16px;
	margin:0px;
}
audio{
	width:100%
}