ul.artlist{
	list-style-type: none;
	width:100%;
}

ul.artlist a{
	text-decoration: none;
	color: rgb(137,137,137);
}

h3.arttitle{
	font-size: 18px;
}

img.artimg{
	float: left;
	margin: 0 15px 0 0;
}

p.artcontent{
	font-size: 18px;
}

li.artitem{
	padding: 10px;
	overflow: auto;
}

li.artitem:hover {
	cursor: pointer;
}

#stuff_detail p{
    font-size:14px;
}
