ul.artlist{
	list-style-type: none;
	width:100%;
}

ul.artlist a{
	text-decoration: none;
	color: rgb(137,137,137);
}

h3.arttitle{
	font-size: 25px;
}

img.artimg{
	float: left;
	margin: 0 15px 0 0;
	max-width: 80px;
}

#main h2{
	font-size:25px;
}
#main p{
	font-size:20px;
}
#main div{
	font-size:20px;
}

#main *{
	/*-webkit-user-select:text;*/
}

p.artcontent{
	font-size: 20px;
}

li.artitem{
	padding: 20px;
	overflow: auto;
}

li.artitem:hover {
	cursor: pointer;
}

#stuff_title h2{
	text-align: center;
    font-size:25px;
	height:auto;
}

#stuff_detail, .main-content{
	padding: 20px 10px 10px;
	line-height: 25px;
    font-size:20px;
}

#stuff_detail p{
    font-size:20px;
}

#stuff_detail img{
	width: 99%;
	margin-left: 0%;
	margin-right: 1%;
	margin-bottom: 20px;
}

.praytitle{
	font-size:25px;
}
.praytext{
	font-size:20px;
}

audio{
	width:100%;
}

.afScrollbar{
	opacity: .4;
}
.gap {
	margin: 10px 0;
}

.clearfix:before
,.clearfix:after{
	display:table;
	content:" "
}
.clearfix:after{
	clear:both
}
.music-info {
	text-align: center;
	line-height: 35px;
}

#pageTitle {
	text-overflow: ellipsis;
	overflow: hidden;
}

.t3 {
	font-weight: bold;
}

#audioPlayer .play{
	background-image: url(../img/buttons/play.png); /* 16px x 16px */
	background-color: transparent; /* make the button transparent */
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: 0px 0px;  /* equivalent to 'top left' */
	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
	height: 48px;           /* make this the size of your image */
	padding-left: 48px;     /* make text start to the right of the image */
	vertical-align: middle; /* align the text vertically centered */
	outline: none;
}
#audioPlayer .pause{
	background-image: url(../img/buttons/pause.png); /* 16px x 16px */
	background-color: transparent; /* make the button transparent */
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: 0px 0px;  /* equivalent to 'top left' */
	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
	height: 48px;           /* make this the size of your image */
	padding-left: 48px;     /* make text start to the right of the image */
	vertical-align: middle; /* align the text vertically centered */
	outline: none;
}
#audioPlayer .activityindicator{
	background-image: url(../img/buttons/activityindicator.gif); /* 16px x 16px */
	background-color: transparent; /* make the button transparent */
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: 0px 0px;  /* equivalent to 'top left' */
	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
	height: 48px;           /* make this the size of your image */
	padding-left: 48px;     /* make text start to the right of the image */
	vertical-align: middle; /* align the text vertically centered */
	outline: none;
}
#audioPlayer h4{
	padding-top: 2px;
	text-align: center;
    font-size:1.2em;
}
#audioPlayer h5{
	padding-top: 2px;
	text-align: center;
    font-size:1.0em;
}